
/* Custom colour styles for SOP guide */
.sd-light-blue .sd-card-body {
    background-color: #e6f2ff !important;
}

/* Custom box style for SOP guide */
.sd-light-box .sd-card {
    border-radius: 6px !important;
    border: 1px solid #cce0ff !important;
    padding: 1em !important;
}

/* End of custom styles */
